body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #0056b3;
  border: 2px solid black;
}

.iniciar {
  color: white;
  margin-top: -45px;
}

.login-container {
  background-color: black;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 130px;
  width: 100%; /* Cambiado a un ancho del 90% */
  max-width: 450px; /* Máximo ancho para evitar que sea demasiado grande en pantallas grandes */
  height: 400px;
  text-align: center;
  border: 3px solid red;
}

.login-container h1 {
  font-size: 65px; /* Tamaño de fuente reducido para dispositivos móviles */
  margin-bottom: 20px;
}

.login-container label {
  display: block;
  margin-bottom: 10px; /* Margen reducido para dispositivos móviles */
  font-weight: bold;
}

.login-container input[type="text"],
.login-container input[type="password"] {
  width: 100%; /* Cambiado a ancho del 100% para ocupar todo el contenedor */
  padding: 10px;
  margin-bottom: 15px; /* Margen reducido para dispositivos móviles */
  border: 3px solid red;
  border-radius: 4px;
}

.seleccionar {
  font-size: 20px;
  color: white; /* Tamaño de fuente reducido para dispositivos móviles */
}

.selector {
  font-size: 40px;
  color: black;
  background-color: white;
  /* Tamaño de fuente reducido para dispositivos móviles */
}

.pa {
  border: 0;
  padding: 0;
  color: white;
  background-color: black;
  font-size: 30px;
  text-justify: auto;
  font-family: "Times New Roman", Times, serif;
  margin-top: -320px;
}

.boton2 {
  font-size: 35px;
  background-color: white;
  border: 2px solid red;
  color: black;
  margin-top: 80px;
}
